---
const today = new Date();
---

<footer class="footer footer-center block pb-7 pt-7">
  <div class="inline opacity-50">
    <!-- Thanks for using Astropod. Please keep this line to support the project :) -->
    <a href="https://github.com/kyr0/raptorgpt-ost" target="_blank">
      Powered by <span class="font-bold"> Astropod ⚡️</span> and <span
        class="font-bold">kyr0</span
      >'s fork enhancements
    </a>
  </div>
</footer>
<style></style>
